{% with kardex=resident.kardex %}
<div class="table-responsive-sm">
  <table class="table table-sm table-hover">
    <tr>
      <td><strong>Name:</strong> {{ resident }}</td>
      <td><strong>Age:</strong> {{ resident.date_of_birth|timesince }}</td>
      <td><strong>Date of Birth:</strong> {{ resident.date_of_birth }}</td>
      <td><strong>Room No.:</strong> {{ resident.room }}</td>          
    </tr>
    <tr>
      <td rowspan="2" colspan="2"><strong>Attending Physician:</strong></td> 
      <td><strong>Admission date:</strong> {{ admission.date_of_admission }}</td>      
      <td><strong>Height:</strong> {{ resident.height_in_cm }}</td>       
    </tr>     
    <tr>      
      <td><strong>Admitted by:</strong> {{ admission.admitted_by }}</td>
      <td><strong>Weight:</strong> {{ resident.weight_in_kg }}</td>
    </tr>
    <tr>
      <td><strong>Date:</strong></td>
      <td><strong>Diagnosis:</strong></td>    
    </tr>
    {% for diagnosis in resident.diagnosis_set.all %}
    <tr>
      <td>{{ diagnosis.date }}</td>
      <td>{{ diagnosis.diagnosis }}</td>
    </tr>
    {% endfor %}      
    <tr>
      <td colspan="2"><strong>Diet:</strong> {{ resident.diet }}</td>        
    </tr>
    <tr>
      <td colspan="2"><strong>Known Allergies:</strong> {{ kardex.known_allergies }}</td>      
    </tr>
    <tr>
      <td colspan="2"><strong>Vital signs Monitoring:</strong> {{ kardex.vital_signs_monitoring }}</td>           
    </tr>
    <tr>
      <td colspan="2">
        <strong>Precaution:</strong>
        <p>Fall:  {{ kardex.fall }}  Pressure ulcer: {{ kardex.pressure_ulcer }}</p>
        <p>Bleeding:  {{ kardex.bleeding }} Aspiration: {{ kardex.aspiration }}</p>
        <p>Infection: {{ kardex.infection }} Wandering:  {{ kardex.wandering }}</p>
        <p>Other: {{ kardex.other }}</p>      
      </td>     
    </tr>
    {% if resident.therapy_set.all %}
      {% for therapy in resident.therapy_set.all %}
      <tr>
        <td><strong>Therapy:</strong> {{ therapy }}</td>
        <td><strong>Schedule:</strong> {{ therapy.schedule }}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td><strong>Therapy:</strong></td>
        <td><strong>Schedule:</strong></td>    
      </tr>
    {% endif %}
  </table> 
</div>
{% endwith %}
