<div class="social-container p-2">
  {% for diagnosis in admission.kardex.diagnosis_set.all %}
    {% ifchanged %}<strong>{{ diagnosis.system }}</strong>{% endifchanged %}
      <p><em>@{{ diagnosis.diagnosis }}</em></p>
      {% for medication in diagnosis.prescribedmedication_set.all %}
        <p>--{{ medication.medication.drug_instance }} {{ medication.medication.frequency }}</p>
      {% endfor %}
      {% for management in diagnosis.management_set.all %}
        <p>--{{ management.title }}</p>
      {% endfor %}      
  {% empty %}
        <div class="alert alert-dismissible alert-info fade show">
        <button type="button" class="close">&times;</button>
        <h4 class="alert-heading">Heads up!</h4>
        <p class="mb-0">Nothing here! <a href="{% url 'geriatrics_admin:index' %}" class="alert-link">Create</a> one now.</p>
        </div>
  {% endfor %}
  
    <div class="container">
      <div class="row">
        {% for labs in admission.laboratory_set.all %}         
        <div class="col-md-6 table-responsive-sm">
          <table class="table table-bordered table-striped">
            <tr>
              <th>Tests</th>
              <th>{{ labs.date }}</th>
            </tr>
            {% for test in labs.test_set.all %}
              <tr>
                <td>{{ test.name }}</td>
                <td>{{ test.result }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>         
        {% endfor %}
      </div>
    </div>      
</div>

    
  





