<h4 class="text-center">Kardex</h4>
<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="tl-kardex" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="kardex-tab-1"
      data-mdb-toggle="tab"
      href="#kardex-tabs-1"
      role="tab"
      aria-controls="kardex-tabs-1"
      aria-selected="false"
      >Kardex</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="kardex-tab-2"
      data-mdb-toggle="tab"
      href="#kardex-tabs-2"
      role="tab"
      aria-controls="kardex-tabs-2"
      aria-selected="false"
      >Medications</a
    >
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="kardex-content">
  <div
    class="tab-pane fade"
    id="kardex-tabs-1"
    role="tabpanel"
    aria-labelledby="kardex-tab-1"
  >
    {% include 'kardex/includes/kardex.html' %}
  </div>
  <div class="tab-pane fade" id="kardex-tabs-2" role="tabpanel" aria-labelledby="kardex-tab-2">
    {% include 'medication/medication.html' %}
  </div>
</div>
<!-- Tabs content -->
