<h4 class="text-center">Systematic Overview</h4>
<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="tl-overview" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="overview-tab-1"
      data-mdb-toggle="tab"
      href="#overview-tabs-1"
      role="tab"
      aria-controls="overview-tabs-1"
      aria-selected="false"
      >Systematic Overview</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="overview-tab-2"
      data-mdb-toggle="tab"
      href="#overview-tabs-2"
      role="tab"
      aria-controls="overview-tabs-2"
      aria-selected="false"
      >Plan of Care</a
    >
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="overview-content">
  <div
    class="tab-pane fade"
    id="overview-tabs-1"
    role="tabpanel"
    aria-labelledby="overview-tab-1"
  >
    {% include 'kardex/includes/systematic_overview.html' %}
  </div>
  <div class="tab-pane fade" id="overview-tabs-2" role="tabpanel" aria-labelledby="overview-tab-2">
    {% include 'plan_of_care/plan_of_care.html' %}
  </div>
</div>
<!-- Tabs content -->
